link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
link(rel='stylesheet', href='/main.css')
html
  head
    title=title
  body
    h4=message
    a(href='/frobotime.html') Go Back
